@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Encode+Sans+Condensed&display=swap");

.App {
  text-align: center;
}

.App h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 45px;
  color: #fff;
}

.App h2,
.App p {
  font-family: "Encode Sans Condensed", sans-serif;
}
